<!DOCTYPE html>


<head>
    <title>Google Homepage</title>
	<link rel="stylesheet" href="style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
</head>
  
     
<body>
  <div class="icons">
    <a href="https://gmail.com">Gmail</a>
    <a href="https://www.google.pl/imghp?hl=pl&tab=wi&authuser=0">Grafika</a>
  <first class="fa fa-th fa-lg">
  </div>

  <center> 
  <div class = "container">
    <!-- GOOGLE IMG --> 

    <div class="google">
      <a href="#" id="google_logo"><img src="./google_PNG19644.png" height="120" width="300"/></a>
    </div>
    <!-- FORM SEARCH -->  
    <div class="form">
        <div class="main">
        <div id="input_container">
        <search class="fa fa-search fa-lg"></search>
        <micro class="fa fa-microphone fa-lg"></micro>
        <key class="fa fa-keyboard-o fa-lg"></key>
        <label for="form-search"></label>
        <input id="myInput" type="text" class="form-search" placeholder="Search Google"  v-model="inputContent" >
        <v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>
        </div>
        </div>
    </div>
 
    <!-- BUTTONS -->
  <div class= "buttons"> 
      <button class="button" style="color: black"  v-if="!inputContent">Szukaj w Google</button>
      <button class="button" style="color: black"  v-if="!inputContent">Szczęśliwy traf</button>
  </div>

  <!-- FOOTER -->
  <footer class="footer">
      <div class="info">
          <p class="polska">Polska</p>
      </div>
      <div class="info">
          <a class="footer-link-left" href="https://ads.google.com">Reklamuj się</a>
          <a class="footer-link-left" href="https://www.google.com/services">Dla firm</a>
          <a class="footer-link-left" href="https://about.google/intl">O nas</a>
          <a class="footer-link-right" href="https://www.google.com/preferences">Ustawienia</a>
          <a class="footer-link-right" href="https://policies.google.com/terms">Warunki</a>
          <a class="footer-link-right" href="https://policies.google.com/privacy">Prywatność</a>
      </div>
  </footer>
  
</center>
</div> 
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="animals.js"></script>
<script src="main.js"></script>

  </body>
</html>
